[submodule "rust_study"]
	path = rust_study
	url = git@github.com:workashokg15/rust_study.git
[submodule "arch_study"]
	path = arch_study
	url = git@github.com:workashokg15/arch_study.git
[submodule "cpp_study"]
	path = cpp_study
	url = git@github.com:workashokg15/cpp_study.git
[submodule "python_study"]
	path = python_study
	url = https://github.com/workashokg15/python_study
